* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* font-family: "Press Start 2P", cursive;
  font-family: "Roboto", sans-serif; */
  background-color: rgb(244, 246, 248);
}
.vip{
  color: red;
  font-size: 22px;
  
}
.container {
  display: flex;
  width: 1100px;
}
.image-container {
  width: 50%;
  display:block;
}
.image-container img {
  height: 80vh;
  width: 90%;
  object-fit: cover;
}
.form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  border-radius: 40px;
  background-color: white;
  border-radius: 10px ;
  box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
}
form {
  width: 90%;
}
.form-container h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}
.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.input-container input {
  width: 100%;
  font-size: 20px;
  padding: 7px 10px;
  margin: 10px 0;
  border-radius: 5px ;
}
.form-container button {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
  background-color: rgb(49, 159, 188);
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
}
::placeholder { /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 17px;
  opacity: 0.8; /* Firefox */
}
.form-container button a{
    text-decoration: none;
    color: #fff;
}
.question span a{
    font-weight: 600;
    color: #ff6600;
    text-decoration: none;
   
}
.question p{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;

}