// .ant-layout {
//   background: white;
// }

.card-custom {
  border: 2px solid #e8e8e8;
  border-radius: 16px;
}

.blog-body {
  align-items: center;
  display: flex;
}
.blog-container {
  font-size: 1.4rem;
  flex: 1 1;
  padding-right: 32px;
}
.blog-container__title h3 {
  color: #292929;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 8px;
}
.blog-container__description p {
  color: #505050;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: 4px;
}
.blog-container__info {
  flex: 1 1;
  padding-right: 32px;
}
.blog-container__dot {
  margin: 0 8px;
}

.blog-pagination {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  margin-top: 20px;
}

.blog-thumbnail img {
  background: #ebebeb;
  border-radius: 15px;
  color: #757575;
  display: block;
  font-size: 1.4rem;
  line-height: 1.8;
  min-height: 100px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}
