.infor-content {
  font-weight: 800;
  font-size: 32px;
}
.infor-title {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
.infor-container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
}
.infor-title h1 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px;
}
.infor-title p {
  margin-top: -3px;
  margin-bottom: -3px;
}
.status {
  font-weight: 750;
}
.infor-wait {
  color: #ff9600;
}
.infor-detail {
  background-color: #fff;

  // margin-bottom: 15px;
}
.infor-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infor-type {
  width: 95%;
  font-size: 20px;
  height: 29px;
  margin: 0;
}
.infor-pushlisher {
  margin: 0;
}
.infor-price {
  margin: 0;
  color: red;
  font-weight: 700;
}
.infor-img {
  width: 120px;
  // height: 120px;
}
.infor-lock {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.infor-back {
  display: flex;
  flex-direction: row;
}
.infor-return {
  margin-left: 20px;
}
.infor-form-buy {
  width: 100%;
  margin-bottom: 15px;
  background-color: white;
  padding: 20px 0;
}
.infor-back > .ant-btn-dangerous {
  color: #40a9ff;
  border-color: #40a9ff;
  background: #fff;
}
.infor-back > .ant-btn-dangerous:hover,
.infor-back > .ant-btn-dangerous:focus {
  color: #fff;
  border-color: #40a9ff;
  background: #40a9ff;
}

.infor-min {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 9px;
  padding-bottom: 33px;
  // padding-left: 40px;
  // padding-right: 40px;
  // width: 100%;
}
.infor-update > .ant-btn-dangerous {
  color: #fff !important;

  background: #1c2260;
}
.order-title-receiver {
  color: #8c8c8c;
}
